<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138527660478-7ijkt2jm5kioi627o6q1fvqtk715kl2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138527660478-7ijkt2jm5kioi627o6q1fvqtk715kl2o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>138527660478-414i020ce6tf6gk8pd8v629evtvmjhb6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCB9QQVf0Suhn_1NMxyGBzeH1x1EM5DsI</string>
	<key>GCM_SENDER_ID</key>
	<string>138527660478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tushar.AngelHack-19</string>
	<key>PROJECT_ID</key>
	<string>ah2019-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ah2019-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138527660478:ios:e476dd300bc3a31d</string>
	<key>DATABASE_URL</key>
	<string>https://ah2019-app.firebaseio.com</string>
</dict>
</plist>